<div id="task-form" hx-swap-oob="true">
    {% include 'task_form.html' %} 
</div>

<table id="task-table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Criada</th>
            <th>Concluída</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <td>{{ task.title }} </td>
            <td>{{ task.created_at }} </td>
            <td>{{ task.check_task|yesno:"Sim,Não" }}</td>
            <td>
                <a class="button" href="{% url 'update_task' task.id %}"> Editar </a>
                <a class="button-red" hx-get="{% url 'delete_task' task.id %}" hx-target="body" hx-swap="beforeend">
                    Excluir
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>